:root {
    --color-bg-variant: #2c2c6c;
    --color-primary: #4db5ff;
    --color-primary-variant: rgba(77, 181, 255, 0.4);
    --color-white: #fff;
    --color-light: rgba(255, 255, 255, 0.6);

    --transition: all 400ms ease;

    --container-width-lg: 75%;
    --container-width-md: 86%;
    --container-width-sm: 90%;
}

.portfolio_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem
}

.portfolio_item {
    background-color: #2c2c6c;
    padding: 1.2rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: all 400ms ease;
}

.portfolio_item:hover {
    border-color: rgba(77, 181, 255, 0.4);
    background: transparent;
}

.portfolio_item_image{
    border-radius: 1.5rem;
    overflow: hidden;
}

.portfolio_item h3{
    
}