:root {
    --color-bg: #1f1f38;
    --color-bg-variant: #2c2c6c;
    --color-primary: #4db5ff;
    --color-primary-variant: rgba(77, 181, 255, 0.4);
    --color-white: #fff;
    --color-light: rgba(255, 255, 255, 0.6);

    --transition: all 400ms ease;

    --container-width-lg: 75%;
    --container-width-md: 86%;
    --container-width-sm: 90%;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}


/***************************GENERAL STYLING************************************/

.container {
    width: var(--container-width-lg);
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 500;
}

h1 {
    font-size: 2.5rem;
}

section {
    margin-top: 8rem;
}

section>h2,
section>h5 {
    text-align: center;
    color: var(--color-light);
}

section>h2 {
    color: var(--color-primary);
    margin-bottom: 3rem;
}

.experience__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem
}

.experience__container>div {
    background-color: var(--color-bg-variant);
    padding: 2.4rem 5rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.experience__container>div:hover {
    background-color: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
}

.experience__container>div h3 {
    text-align: center;
    margin-bottom: 2rem;
    color: var(--color-primary);
}

.experience__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
}

.experience__detail {
    display: flex;
    gap: 1rem;
}

.experience_detail-icon {
    margin-top: 6px;
    color: var(--color-primary);
}

/***************************MEDIA QEUERY (MEDIUM DEVICES)************************************/

@media screen and (max-width: 1024px) {
    .experience__container {
        grid-template-columns: 1fr;
    }

    .experience__container>div {
        width: 80%;
        padding: 2rem;
        margin: 0 auto
    }

    .experience__content {
        padding: 1rem;
    }

}

/***************************MEDIA QEUERY (SMALL DEVICES)************************************/

@media screen and (max-width: 600px) {
    .experience__container {
        gap: 1rem;
    }

    .experience__container>div {
        width: 100%;
        padding: 2rem 1rem;

    }
}